* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.immagineGrande {
    position: relative;
    background-image: url("../consegna/img/02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 750px;
    height: 300px;
}

.location {
    position: absolute;
    bottom: 25%;
    right: 8%;
}

.descrizioneLocation {
    position: absolute;
    bottom: 8%;
    right: 8%;
    padding-left: 8%;
}

.frecciaSopra {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 42%;
    font-size: 20px;
    background-color: #cccccc;
    color: #424242;
    width: 23px;
    height: 23px;
    border-radius: 50px;
}

.img1 {
    position: relative;
    background-image: url("../consegna/img/01.jpg");
    background-size: cover;
    width: 150px;
    height: 60px;
}

.img2 {
    position: relative;
    background-image: url("../consegna/img/02.jpg");
    background-size: cover;
    width: 150px;
    height: 60px;
}

.img3 {
    position: relative;
    background-image: url("../consegna/img/03.jpg");
    background-size: cover;
    width: 150px;
    height: 60px;
}

.img4 {
    position: relative;
    background-image: url("../consegna/img/04.jpg");
    background-size: cover;
    width: 150px;
    height: 60px;
}

.img5 {
    position: relative;
    background-image: url("../consegna/img/05.jpg");
    background-size: cover;
    width: 150px;
    height: 60px;
}

.frecciaSotto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    bottom: 15%;
    left: 42%;
    font-size: 20px;
    background-color: #cccccc;
    color: #424242;
    width: 23px;
    height: 23px;
    border-radius: 50px;
}

.trasparenza {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 150px;
    height: 60px;
}